body {
  font-family: Arial, sans-serif;
}

.banner {
  background-size: cover;
  background-position: center;
  text-align: right;
  padding: 50px 0;
  align-items: flex-end;
}
.banner h2 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  padding: 10px;
  color: black;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-trip-infos {
  padding: 16px;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-left: 800px;
}

.btn {
  width: 150px;
  padding: 10px;
  margin-top: 30px;
  text-decoration: none;
  background-color: #01A99D !important;
  color: white !important;
  border-radius: 0px !important;
  border: none;
}
.btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
  background-color: #00877E;
}

.media {
  overflow: hidden;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
}
.media .media-icon {
  background: #F2F2F2;
  padding: 16px;
  border-radius: 50%;
}
.media .media-icon img {
  width: 1.779em;
  height: 1.786em;
  box-sizing: border-box;
}
.media .media-body {
  padding: 16px;
}
.media .media-body h2 {
  font-size: 16px;
  padding-left: 20px;
  font-weight: bold;
  margin: 0;
}
.media .media-body p {
  font-size: 12px;
  padding-left: 20px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.howto-container {
  height: 500px;
}

.howto-product {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 150px;
}

.howto-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.howto-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
}

.howto-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 20px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-trip-infos {
    margin-left: 15px;
    display: block;
  }

  .howto-product {
    padding-left: 15px;
    display: block;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.headline {
  font-size: 24px;
  text-align: center;
  padding: 40px;
}

.card-product {
  overflow: hidden;
  height: 140px;
  background: #F2F2F2;
  display: flex;
  align-items: right;
  margin-bottom: 40px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #01A99D !important;
}

.swiper-container {
  width: 100%;
  height: 320px;
  background: #F2F2F2;
}
.slide-product {
  width: 150px;
  height: 300px;
  overflow: none;
}

.slide-product img {
  width: 100%;
  display: flex;
  position: relative;
  object-fit: cover;
}

/*# sourceMappingURL=stylesheet.css.map */
